<!DOCTYPE html>
<html>
<head>
    <title>OneShot | Авторизация</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link href="/static/favicon.ico" rel="icon" type="image/x-icon"/>
    <link href="/static/css/login.css" rel="stylesheet" type="text/css">
    <!--        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
    <!--        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->
    <!--        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->
    <!--        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">-->
</head>
<body>
<div class="sidenav">
    <div class="login-main-text">
        <h2>Application<br> Login Page</h2>
        <p>Login or register from here to access.</p>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            <form>
                <div class="form-group">
                    <label>User Name</label>
                    <input class="form-control" placeholder="User Name" type="text">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" placeholder="Password" type="password">
                </div>
                <button class="btn btn-black" type="submit">Login</button>
                <button class="btn btn-secondary" type="submit">Register</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>